:root { /* All variable stored here */
  --border-radius: 12px;
  --foreground-rgb: 18,18,18;
  --text-rgb: 255, 255, 255;
  --header1-size: 1.8rem;
  --header2-size: 1.5rem;
  --header3-size: 1.25rem;
  --header-margin: 2rem;
  --paragraph-size: calc(15px + 0.390625vw);
  --paragraph-line-height: 1.889rem;
  --border-color-rgb: 255, 255, 255;
  --button-font-size: 1.25rem;
  --button-background-hover-rgb: 255, 255, 255;
  --button-text-hover-rgb: 0, 0, 0;
  --progress-bar-background-rgb: 0, 0, 0;
  --progress-bar-foreground-rgb: 255, 255, 255;
  --progress-bar-border-rgb: 255, 255, 255;
  --progress-bar-width: 500px;
  --progress-bar-height: 3rem;
  --progress-bar-position: .475rem;
  --progress-bar-progress-width: 20%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}
